/* Colors (gruvbox) */
@define-color black	#282828;
@define-color red	#cc241d;
@define-color green	#98971a;
@define-color yellow	#d79921;
@define-color blue	#458588;
@define-color purple	#b16286;
@define-color aqua	#689d6a;
@define-color gray	#a89984;
@define-color brgray	#928374;
@define-color brred	#fb4934;
@define-color brgreen	#b8bb26;
@define-color bryellow	#fabd2f;
@define-color brblue	#83a598;
@define-color brpurple	#d3869b;
@define-color braqua	#8ec07c;
@define-color white	#ebdbb2;
@define-color bg2	#504945;
@define-color fg3	#bdae93;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "CaskaydiaCode Nerd Font";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: @black;
    border: 0px solid;
}

tooltip {
    background-color: @bg2;
    border: 0px solid;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#backlight {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: @bg2;
    margin: 6px 0px 6px 6px;
    border: 2px solid @brgray;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: @gray;
}

#workspaces button.active {
    background-color: @green;
    color: @black;
}

#clock {
    background-color: @bg2;
    border: 2px solid @brgray;
    color: @gray;
}

#tray {
    background-color: #d4be98;
    border: 2px solid #c7ab7a;
}

#cpu,
#memory,
#network,
#battery,
#pulseaudio,
#backlight {
    background-color: @fg3;
    border: 2px solid @brgray;
    color: @black;
}

#cpu.critical,
#memory.critical,
#battery.warning,
#battery.critical,
#battery.urgent,
#pulseaudio.muted {
    background-color: @fg3;
    border: 2px solid @red;
    color: @black;
}
